/.quarto/
_site/
model.bin
__pycache__/
ape.ipynb
training_data.txt
ape_files/


*.parquet
data/
*.csv.gz
*.csv
*.sqlite
*.log
*.gpkgdata/

**/*.quarto_ipynb
applications/data/
applications/model_ape/
*.pkl
*.ckpt
hparams.yaml