on:
  pull_request:
    branches: main

name: Render and Publish
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --fix-missing \
            libudunits2-dev \
            libgdal-dev \
            libgeos-dev \
            libproj-dev

      - uses: r-lib/actions/setup-r@v2

      - name: Installing latest rv
        uses: a2-ai/setup-rv@v1.0.0

      - name: Install R Dependencies
        run:  |
          rv sync

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Add venv to PATH
        run: echo "$(pwd)/.venv/bin" >> $GITHUB_PATH

      - name: Install python dependencies
        run: |
          uv sync

      - name: Download NLP requirements
        run: |
          uv run bash download_nlp_reqs.sh

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          # To install LaTeX to build PDF book
          tinytex: true
          # uncomment below and fill to pin a version
          # version: 0.9.600


      - name: Publish to GitHub Pages (and render)
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # this secret is always available for github actions
