on:
  pull_request:
    branches: main

name: Render and Publish
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system dependencies & rv & uv
        run: |
          sudo apt-get update
          sudo apt-get install -y --fix-missing \
            libudunits2-dev \
            libgdal-dev \
            libgeos-dev \
            libproj-dev
          curl -sSL https://raw.githubusercontent.com/A2-ai/rv/refs/heads/main/scripts/install.sh | bash
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - uses: r-lib/actions/setup-r@v2

      - name: Install R Dependencies
        run:  |
          rv sync

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install python dependencies
        run: |
          uv sync

      - name: Download NLP requirements
        run: |
          uv run download_nlp_reqs.sh

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          # To install LaTeX to build PDF book
          tinytex: true
          # uncomment below and fill to pin a version
          # version: 0.9.600

      # add software dependencies here
      # To publish to Netlify, RStudio Connect, or GitHub Pages, uncomment
      # the appropriate block below

      # - name: Publish to Netlify (and render)
      #   uses: quarto-dev/quarto-actions/publish@v2
      #   with:
      #     target: netlify
      #     NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

      # - name: Publish to RStudio Connect (and render)
      #   uses: quarto-dev/quarto-actions/publish@v2
      #   with:
      #     target: connect
      #     CONNECT_SERVER: enter-the-server-url-here
      #     CONNECT_API_KEY: ${{ secrets.CONNECT_API_KEY }}
      - name: Publish to GitHub Pages (and render)
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # this secret is always available for github actions
